<!DOCTYPE html>
<html lang="en">
    <%- include ('./partials/head.ejs') %>
    <body>
        <%- include ('./partials/nav.ejs') %>
        <div class="jumbotron jumbotron-fluid">
            <div class="container">
                <h1 class="display-4">Welcome back!</h1>
                <p class="lead">What would you like to do today?</p>
            </div>
        </div>
        <div class="row justify-content-center my-5">
            <div class="col-7 col-md-3 text-center">
                <div class="card border-0">
                    <img class="card-img-top" src="https://www.healthvermont.gov/sites/default/files/images/2020/06/Data-Dashboard.png" alt="Card image cap">
                    <div class="card-body">
                        <a href="/dashboard" class="btn btn-primary">Go to dashboard</a>
                    </div>
                </div>
            </div>
            <div class="col-7 col-md-3 text-center">
                <div class="card border-0">
                    <img class="card-img-top" src="https://icons.veryicon.com/png/o/system/digital-technology-archaeological-platform/historical-data-4.png">
                    <div class="card-body">
                        <a href="/workouts/" class="btn btn-primary">Go to workout history</a>
                    </div>
                </div>
            </div>
            <div class="col-7 col-md-3 text-center">
                <div class="card border-0">
                    <img class="card-img-top" src="https://www.kindpng.com/picc/m/300-3001729_pictures-of-weightlifting-icon-transparent-background-fitness-icon.png" alt="Card image cap">
                    <div class="card-body">
                        <a href="/workouts/new" class="btn btn-primary">Add a workout</a>
                    </div>
                </div>
            </div>
        </div>
        <%- include ('./partials/footer.ejs') %>
    </body>
</html>