<!DOCTYPE html>
<html lang="en">
    <%- include ('./partials/head.ejs') %>
    <body>
        <%- include ('./partials/nav.ejs') %>
        <div class="jumbotron jumbotron-fluid">
            <div class="container text-center">
                <h1 class="display-4">Welcome back!</h1>
                <p class="lead">What would you like to do today?</p>
            </div>
        </div>
        <div class="row justify-content-center my-5">
            <div class="col-7 col-md-3 text-center">
                <div class="card border-0">
                    <img class="card-img-top" src="media/dashboard.png">
                    <div class="card-body">
                        <a href="/dashboard" class="btn btn-primary">Go to dashboard</a>
                    </div>
                </div>
            </div>
            <div class="col-7 col-md-3 text-center">
                <div class="card border-0">
                    <img class="card-img-top" src="/media/history.png">
                    <div class="card-body">
                        <a href="/workouts/" class="btn btn-primary">See workout history</a>
                    </div>
                </div>
            </div>
            <div class="col-7 col-md-3 text-center">
                <div class="card border-0">
                    <img class="card-img-top" src="media/workout.png">
                    <div class="card-body">
                        <a href="/workouts/new" class="btn btn-primary">Add a workout</a>
                    </div>
                </div>
            </div>
        </div>
        <%- include ('./partials/footer.ejs') %>
    </body>
</html>