<!DOCTYPE html>
<html lang="en">
<%- include ('./partials/head.ejs') %>
<body>
    <%- include ('./partials/nav.ejs') %>
    <h1>Log a New Workout</h1>
    <div class="row">
        <div class="col-8 mx-auto">
            <form action="/workouts" method="POST">
                <div class="form-group">
                    <label for="dateInput">Date</label>
                    <input name="date" class="form-control" id="dateInput" placeholder="mm/dd/yyyy">
                </div>
                <div class="form-group">
                    <label for="workoutTypeInput">What type of workout did you do?</label>
                    <select name="type" class="form-control" id="workoutTypeInput">
                        <option>Running</option>
                        <option>Cycling</option>
                        <option>Strength Training</option>
                        <option>Swimming</option>
                        <option>HIIT</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="durationInput">How long did you work out (in minutes)?</label>
                    <input type="number" name="duration" class="form-control" id="durationInput" placeholder="Please enter a number">
                </div>
                <div class="form-group">
                    <label for="caloriesBurnedInput">Calories burned</label>
                    <input class="form-control" type="text" placeholder="Readonly input here…" readonly>
                </div>
                <div class="form-group">
                    <label for="notesInput">Notes</label>
                    <textarea class="form-control" id="notesInput" rows="3"></textarea>
                </div>
                <div class="button-div">
                    <input type="submit" value="Add workout"/>
                </div>
            </form>
        </div>
    </div>
    <%- include ('./partials/footer.ejs') %>
</body>
</html>