/* body {
    background-image: url('https://as2.ftcdn.net/v2/jpg/02/34/00/05/1000_F_234000529_tDJfNg4347DorpMBpWmHSyRn22FuPd18.jpg');
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;
} */