.login {
    background-image: url('./media/exercise1.webp');
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;
}

.signup {
    background-image: url('./media/exercise3.jpg');
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;
}

.login-error {
    background-image: url('./media/exercise4.jpg');
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;
}